body {
  background-color: #1a96da;
  font-family: lato, sans-serif;
  margin: 50px 10%;
}

img {
  width: 65%;
  margin: auto;
}

h2 {
  font-size: 22px;
}

p {
  margin-top: 0;
  line-height: 1.5em;
  font-size: 16px;
  color: #dbdcdd;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
}

.col-3 {
  flex-basis: calc(100%/3);
}

.white-text {
  color: white;
}

.text-align-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
  margin: auto;
}

.pad-rl {
  padding: 0 25px;
}

.circle-img {
  width: 8rem;
  height: 8rem;
  margin: auto;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}
