img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  flex-basis: calc(100%/3);
}

.col-4 {
  flex-basis: calc(100%/4);
}

.col-2-2third {
  flex-basis: calc(200%/3);
}

.col-2-1third {
  flex-basis: calc(100%/3);
}

p {
  margin-top: 0;
}
