h1 {
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: 500;
}

body {
  margin-top: 40px;
  margin-bottom: 40px;
}

input {
  background-color: white;
  border: 2px solid rgb(211 82 75);
  color: rgb(211 82 75);
  padding: 10px 50px;
  font-size: 16px;
  font-family: Karla, sans-serif;
  font-weight: 600;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col-2 {
  flex-basis: calc(100%/2);
}

.justify-center {
  justify-content: center;
  margin: auto;
}

.karla-font-heavy {
  font-family: Karla, sans-serif;
  font-weight: 600;
}

.karla-font {
  font-family: Karla, sans-serif;
  font-weight: 400;
}

.all-caps {
  text-transform: uppercase;
}

.line-ht-1p5em {
  line-height: 2em;
}

.text-align-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0;
}

.pt-40 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.ptb-60-20 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.prl-5perc {
  padding-right: 3%;
  padding-left: 3%;
}

.prl-10perc {
  padding-right: 10%;
  padding-left: 10%;
}

.text-gray {
  color: rgb(121 121 121);
}
